<html>
<head>
    <div class="form-group">
        <h4>Send your NFT to this address:</h4>
        <p>0xa68638f739f454C8c46CE6AfBe27478E7368000a</p>
    </div>

</head>

<body>
    <h4>After sending, please submit the following:</h4>

    <div class="form-group">
        <p>Transaction hash:</p>
        <input type="text" />
    </div>


    <div class="form-group">
        <p>Your address that gifted the NFT:</p>
        <input type="text" />
    </div>

    <div class="form-group">
        <p>How much should we list this NFT for (in ETH)?</p>
        <input type="text" />
    </div>

    <div class="form-group">
        <input type="submit" />
    </div>
</body>

</html>